body {
    background: #352f5b;
}

.container{
    max-width: 400px;
}

input[type = text],
input[type = text]:focus{
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0,2);
    max-width: 400px;
}

.todos li{
    background: #423a6f;
    /* border: 1px solid; */
}

.delete{
    cursor: pointer;
}

input[type = text]::placeholder { /* Edge 12-18 */
    color: #fff;
}

.filtered{
    display: none !important;
}
